fastapi==0.115.1
uvicorn==0.32.0
python-multipart==0.0.12
google-genai==0.3.0
pypdf==5.1.0
python-docx==1.1.2
psycopg2-binary==2.9.12
google-cloud-storage==2.18.2
SQLAlchemy==2.0.46
pgvector==0.3.6
python-dotenv